div.project-view {
    height: 100vh;
}

div.project-main {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

/* delete project pop up */

div.confirm-delete-project {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}

div.confirm-delete-project-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    height: 200px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

div.confirm-delete-project-box > span {
    font-size: 14pt;
    font-weight: bold;
}

div.confirmation-on-delete-project {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

button.delete-project-for-sure, button.cancel-delete-project {
    margin: auto;
    width: 100px;
    padding: 5px;
    font-size: 13pt;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.7);
    border: solid 2pt rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

button.delete-project-for-sure:hover {
    background-color: rgba(185, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
}

button.cancel-delete-project:hover {
    background-color: rgba(0, 185, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
}

button.delete-project-for-sure:active, button.cancel-delete-project:active {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

/*  */

/* Add task pop up */

div.new-task {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}

form.new-task-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 800px;
    height: 600px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.2);
}

div.cancel-adding-task {
    text-align: right;
    margin-bottom: 20px;
    font-size: 14pt;
    font-weight: bold;
}

input.new-task-title {
    margin: 20px;
    padding: 15px;
}

.task-title-error {
    border-color: rgba(205, 0, 0, 1);
    color: rgba(205, 0, 0, 1);
}

.task-title-error::placeholder {
    color: rgba(205, 0, 0, 1);
}

textarea.new-task-description {
    border: solid 1pt black;
    height: 200px;
    margin: 20px;
    text-align: start;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 15px;
    border: none;
}

div.new-task-status-selector {
    margin-left: 35px;
    width: fit-content;
}

span.new-task-status-selector-span {
    font-size: 13pt;
    color: rgba(0, 0, 0, 0.6);
}

span.status-error {
    color: rgba(205, 0, 0, 1);
}

select.new-task-status {
    margin: 20px;
    margin-top: 10px;
    padding: 5px 5px;
    width: 115px;
    border: none;
}

select.status-error {
    border: solid 1pt rgba(205, 0, 0, 1); 
}

button.submit-task-details {
    margin: auto;
    width: 100px;
    padding: 5px;
    font-size: 13pt;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.7);
    border: solid 2pt rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

button.submit-task-details:hover {
    background-color: rgba(0, 0, 185, 0.9);
    color: rgba(255, 255, 255, 0.9);
}

button.submit-task-details:active {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

/*  */

div.project-overview {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 40px;
    margin-left: 10px;
    padding: 30px;
    text-align: justify;
    border-radius: 20px;
}

div.project-overview-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

div.project-overview-header > div.project-title {
    text-align: left;
    font-size: 25pt;
    font-weight: bolder;
    margin-left: 17px;
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

div.project-title > div.delete-project {
    display: flex;
    width: 1px;
    height: 1px;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

div.project-title > div.delete-project:hover {
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.3);
}

div.project-title > div.delete-project:active {
    transform: scale(1.15);
}

div.project-overview-header > div.add-task {
    font-size: 20pt;
    margin: 20px;
    margin-right: 20px;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.2);
    padding: 1px 15px;
    border-radius: 30px;
    cursor: pointer;
}

div.project-overview-header > div.add-task:hover {
    background-color: rgba(0, 0, 0, 0.13);
}

div.project-overview-header > div.add-task:active {
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.4);
}

div.project-contribs {
    display: flex;
    align-items: baseline;

}

div.project-contribs > div.project-admin, div.project-members, div.project-status {
    margin: 5px 20px;
    margin-right: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: rgba(155, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    cursor: pointer;
}

div.project-status {
    background-color: rgba(0, 255, 0, 0.5);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

div.project-status:hover {
    background-color: rgba(0, 255, 0, 0.7);
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.4);
}

div.project-status-to-be-done {
    background-color: rgba(0, 0, 255, 0.5);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

div.project-status-to-be-done:hover {
    background-color: rgba(0, 0, 255, 0.7);
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.4);
}

div.project-status-done {
    background-color: rgba(255, 0, 0, 0.5);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

div.project-status-done:hover {
    background-color: rgba(255, 0, 0, 0.7);
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.4);
}

div.project-members {
    background-color: rgba(0, 255, 0, 0.2);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

div.project-contribs > div.project-admin:hover {
    background-color: rgba(155, 0, 0, 0.7);
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.4);
}

div.project-members:hover {
    background-color: rgba(0, 255, 0, 0.3);
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.4);
}

div.project-description {
    margin: 20px;
}

div.tasks {
    display: flex;
    margin: 40px;
    margin-top: 10px;
    margin-left: 10px;
    /* background-color: antiquewhite; */
}

div.done, div.in-progress, div.to-be-done {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

div.done-list, div.in-progress-list, div.to-be-done-list {
    overflow-y: scroll;
    height: 200px;
}

div.task {
    border-radius: 10px;
    padding: 10px 30px;
    margin: 10px;
    margin-bottom: 20px;
    width: fit-content;
    font-size: 13pt;
    text-align: justify;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

div.task:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

div.task:active {
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.5);
}

div.to-be-done-list > div.task {
    color: rgba(0, 0, 255, 0.4);
}

div.done-list > div.task {
    color: rgba(255, 0, 0, 0.4);
}

div.in-progress-list > div.task {
    color: rgb(14, 167, 14);
}

div.done, div.in-progress, div.to-be-done {
    display: flex;
    flex: 0.33;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

div.done-header, div.in-progress-header, div.to-be-done-header {
    margin: 10px;
    margin-bottom: 20px;
    font-size: 14pt;
    font-weight: bold;
}