div.sidebar {
    position: absolute;
    height: 100vh;
    width: 70px;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.7);
    border-right: rgba(128, 128, 128) solid 1px;
    box-shadow: 2px 1px 10px 1px gray;
    -webkit-transition: width 0.7s ease-in-out;
    -moz-transition: width 0.7s ease-in-out;
    -o-transition: width 0.7s ease-in-out;
    transition: width 0.7s ease-in-out;
}

#app-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 16pt;
    background-color:rgba(240, 248, 255, 0.7);
    white-space: nowrap;
    cursor: default;
}

div.sidebar:hover .sidebar-ops{
    width: auto;
    opacity: 1;
    -o-animation: makeSidebarOpsVisible 0.35s;
    -moz-animation: makeSidebarOpsVisible 0.35s;
    -webkit-animation: makeSidebarOpsVisible 0.35s;
    animation: makeSidebarOpsVisible 0.35s;
}

div.sidebar:hover .sidebar-ops-icon{
    width: 0px;
    opacity: 0;
    -o-animation: makeSidebarOpsIconHidden 0.35s;
    -moz-animation: makeSidebarOpsIconHidden 0.35s;
    -webkit-animation: makeSidebarOpsIconHidden 0.35s;
    animation: makeSidebarOpsIconHidden 0.35s;
}

div.sidebar:hover {
    width: 200px;
}

div.sidebar-view-ops {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    height: 70px;
    font-size: 16pt;
    cursor: default;
    white-space: nowrap;
}

div.sidebar-view-ops:hover {
    background-color: rgba(128, 128, 128, 1);
}

.sidebar-ops-icon {
    width: auto;
    opacity: 1;
}

.sidebar-ops {
    width: 0px;
    opacity: 0;
}

@keyframes makeSidebarOpsIconHidden {
    0%{
        width: auto;
        opacity: 1;
    }
    75%{
        width: 0px;
        opacity: 0;
    }
    100%{
        width: 0px;
        opacity: 0;
    }
}

@keyframes makeSidebarOpsVisible {
    0%{
        width: 0px;
        opacity: 0;
    }
    99%{
        width: 0px;
        opacity: 0;
    }
    100%{
        width: auto;
        opacity: 1;
    }
}